<%  layout("/layout/boilerplate.ejs") %>
<div class="container">
  <h3 class="mb-4 fw-semibold create-heading">Edit your list</h3>

  <form action="/listening/<%=data.id%>?_method=put" method="POST" class="needs-validation" novalidate  enctype="multipart/form-data">

    <div class="mb-2">
      <label for="title" class="form-label">Title</label>
      <input required type="text" class="form-control" id="title" name="listens[title]" value="<%=data.title%>">
    <div class="invalid-feedback">please enter a tittle</div>
    </div>

    <div class="mb-2">
      <label for="description" class="form-label">Description</label>
      <textarea required class="form-control" id="description" name="listens[description]" rows="2"><%=data.description%></textarea>
    <div class="invalid-feedback">please enter a short desription</div>
    </div>
<div class="mb-2">
  Original Listing Image <br>
  <img style="width: 250px;  height: 150px;" src="<%= data.image.url%>" alt="">
</div>

    <div class="mb-2">
      <label for="image" class="form-label"> upload new Image </label>
      <input  type="file" class="form-control" id="image" name="listens[image][url]" >
   
    </div>

    <div class="row">
      <div class="col-md-4 mb-2">
        <label for="price" class="form-label">Price</label>
        <input required type="number" class="form-control" id="price" name="listens[price]" value="<%=data.price%>">
     <div class="invalid-feedback">please enter a valid price</div>
      </div>

      <div class="col-md-4 mb-2">
        <label for="country" class="form-label">Country</label>
        <input required type="text" class="form-control" id="country" name="listens[country]" value="<%=data.country%>">
      <div class="invalid-feedback">please enter e country name</div>
      </div>

      <div class="col-md-4 mb-2">
        <label for="location" class="form-label">Location</label>
        <input required type="text" class="form-control" id="location" name="listens[location]" value="<%=data.location%>">
       <div class="invalid-feedback">please enter a location</div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary px-4 edi-btn">edit</button>

  </form>
</div>
