<%  layout("/layout/boilerplate.ejs") %>
<script>
  const mapToken =  "<%= process.env.MAP_TOKEN %>"
  const listing = <%- JSON.stringify(listendata) %>
</script>

<div class="row mt-4">
  <div class="col-8 offset-3">
    <h3><%=listendata.title%></h3>
</div>
 <div class="card listening-card col-6 offset-3" >
  <img src="<%=listendata.image.url%>" class="card-img-top show-img" alt="listen-image">
  <div class="card-body">
    <div class="card-text"><p> owned by :<i> <%=listendata.owner.username%> </i></p>
     <p> <%=listendata.description%></p>
     <p><%=listendata.price.toLocaleString('en-IN')%></p> 
     <p> <%=listendata.location%></p>
     <p> <%=listendata.country%></p>


</div>
    
  </div>
</div>
  
    <%if(currUser  && listendata.owner._id.equals(currUser._id)){%>
   <div class="btns">
     <a href="/listening/<%=listendata._id%>/edit" class="btn btn-dark col-1 offset-3 edit-btn"> edit</a>
     <form action="/listening/<%=listendata._id%>?_method=delete" method="post">
            <button class="btn btn-dark offset-5"> delete</button>
        </form>
   </div>

   </div>
    <%}%>
  <div class="col-8 offset-3 mb-3">
   
    <%if(currUser){%>
       <hr>
    <h3>Leave a Review </h3>
    <form action="/listening/<%=listendata._id%>/review" method="post" novalidate class="needs-validation">
    
      <div class="mb-2 mt-3">
        <label class="form-label" for="rating">Rating</label>
      <fieldset class="starability-slot">
  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>
</div>
      <div class="mb-3 mt-2">
        <label class="form-label" for="comment">Comments</label>
        <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="5" required></textarea>
<div class="invalid-feedback">please add some comments for review</div>      
      </div>
      <button class="btn btn-outline-dark">submit</button>
     
    </form>
    <%}%>
    <hr>
    <% if(listendata.reviews.length >0){%>
    <div class="row">
      <p><b>All Reviews</b></p>
      <% for(review of listendata.reviews){%>
 <div class="card col-5 mb-3 ms-3">
        <div class="card-body">
        <div class="card-title"><b>@<%=review.author.username%></b></div>
           <p class="starability-result card-text" data-rating="<%=review.rating%>">
    Rated: 3 stars
  </p>
        <div class="card-text"><%=review.comment%></div>
       
        </div>
        <div class="mt-3">
          <form action="/listening/<%=listendata._id%>/review/<%=review._id%>?_method=delete" class="mb-3" method="post" >
          <button class="btn btn-sm btn-dark">delete</button>
        </form> 
        </div>
        
      </div>
     <% }%>
     
    </div>
    <%}%>
    <div class="col-4 mb-3">
      <h1>Where you’ll be</h1>
      <div  id="map"></div>
    </div>
   <script src="/js/map.js"></script>

  </div>
     
    

